.sidebar {
    padding: 1rem;
    /* background-color: var(--lighter-blue); */
    background: linear-gradient(180deg, var(--lighter-blue), var(--dark-blue));
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    top: 3rem;
    max-width: 300px;
    height: 100%;
    /* max-height: 100%; */
}

.ham {
    max-width: 2rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    left: 2rem;
}
h1 {
    /* margin-top: 1rem; */
    font-size: 1rem;
}
h1 a {
    text-decoration: none;
    color: var(--white);
    /* position: relative; */
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
}
h1 a img {
    max-width: 3rem;
    object-fit: cover;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
nav ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    list-style: none;
}
nav ul li a {
    color: var(--white);
    text-decoration: none;
}

.upcoming-movies-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.upcoming-movies {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.upcoming-movie {
    display: flex;
    object-fit: cover;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
}
.upcoming-movie img {
    height: 100%;
    max-width: 4rem;
    object-fit: cover;
}
.navigation-two {
    position: relative;
    /* top: 0; */
    /* z-index: 3; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15rem;
    justify-content: flex-end;
    width: 100%;
    height: 3.5rem;
    background-color: var(--lighter-blue);
    padding: 2rem 4rem;
}
.upcoming-movie-meta {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.search {
    position: relative;
    height: 2rem;
}
.search input {
    width: 20rem;
    height: inherit;
    background-color: var(--light-grey);
    border: 1px solid var(--light-grey);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search input::placeholder,
.search input {
    color: var(--whitesh);
}
.search-btn {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 3;
    cursor: pointer;
}
.search-btn svg {
    max-width: 1.3rem;
    height: 1.3rem;
}

.search-results {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 20rem;
    background-color: var(--light-grey);
    padding: 1rem;
    border-radius: 10px;
    margin-top: 10px;
    list-style: none;
    gap: 1.5rem;
    z-index: 3;
}
.search-results li a {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 5rem;
    gap: 1rem;
    width: 100%;
}
.search-results li a img {
    object-fit: cover;
    height: 5rem;
}
.search-results li a h3 {
    font-size: 1rem;
    font-weight: 400;
}
.nav-socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

.nav-socials img {
    width: 1.3rem;
    height: 1.3rem;
}
.nav-socials a {
    border-radius: 50%;
    background-color: var(--light-grey);
    border-radius: 25px;
    padding: 10px;
}

.theme-btns {
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: var(--light-grey);
    border-radius: 25px;
    padding: 5px;
}
.theme-btns span {
    display: none;
}
.theme-btns button {
    border: none;
    border-radius: 50%;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}
.theme-btns button:first-child {
    background-color: var(--orange);
}

.theme-btns img {
    width: 1.3rem;
    height: 1.3rem;
}
